html{
    height: 100%;
}
 body {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.46, rgb(250, 243, 232)), color-stop(0.67, rgb(244, 226, 207)), color-stop(0.87, rgb(233, 202, 161))) no-repeat;
    height: 95%;
      width: 100%;
    margin: 0;

    }

    #navigationMenu {
        background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.08, #B87147),
	color-stop(0.54, #9B440E)
    );
/*background-color: #9b430e;*/
        margin:0;
        border-top-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        padding: 1px;
        color: #feffff;
        text-align: center;
    }

    #navigationMenu li {
        display:inline;
        padding: 25px;

    }

    .mapMenus a:link{
        color: #feffff;
         text-decoration: none;
     }

    .mapMenus a:visited{
         color: #feffff;
         text-decoration: none;
     }

    .mapMenus a:hover{
        color: #feffff;
        text-decoration: underline;

    }
    .mapMenus a:active{
        color: #feffff;
        text-decoration: none;
    }

	#lefttPane {
       background-color:  #FAF3E8;
      width: 15%;
    }

	#bottomPane {
	  height: 22%;
      font-size: 75%;

    }
	
    #legendPane {
      border: solid #e7dac4 2px;
        background-color: #f3e6d0;
        font-size: 80%;
    }